<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-default navbar-fixed-top" style="background-color:rgb(64, 128, 140)">
  <div class="container-fluid" >
    <div class="navbar-header" style="padding:22px 10px 0 25px;">
            <a [routerLink]="['/home']" class="brand-logo brand-logo-home" style="font-family: Arial; font-weight: Bold;
       letter-spacing: 3px; margin-top: 15px;font-size:28px;">
        W<span style="color:#02b2ca !important">EC</span>P
    </a>
    
      
    </div>
    <p class="navbar-text nav-heading" >Track User Activity</p>
   
    <!-- <ul class="nav navbar-nav home-padding">
      <li class="active"><a href="">Home </a></li>
     
   </ul> -->
  </div>
</nav>
<router-outlet></router-outlet>
