.admin {
    padding-top:15%;
    text-align: center;
     background: rgb(64, 128, 140);
     padding-bottom: 22%;
}
.admin-top {
    padding-top: 6%;
    
}
.btns, .btn-large {
    text-decoration: none;
    color: #fff;
    font-size:21px;
    padding:6px 12px 6px 12px;
    margin-left:6%;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}